<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>test1</title>
  </head>
  <body>
    <h1>test1</h1>
    <hr>
    <div class="free_space">

    </div>

    <form class="profile" action="/function/test2" method="post">
      <label for="InputName">名前:</label>
      <input type="text" id="InputName" name="_name" placeholder='username'><br>
      <label for="InputAge">年齢:</label>
      <input type="number" id="InputAge" name="_age" placeholder='20'><br>

      <input type="submit">
    </form>

    <!-- <script src="http://localhost:5001/aaas-iori/us-central1/piee"></script> -->
  </body>
</html>
